.post {
  width: 582px;
  border: 1px solid #dbdbdb;
  margin: 30px;
  border-radius: 4px;
  background-color: #fff;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post__header_username {
  font-size: 14px;
}

.post__avatar {
  margin-right: 10px;
  width: 35px !important;
  height: 35px !important;
}
.post__image {
  width: 100%;
  object-fit: contain;
}
.post__text {
  font-weight: normal;
  padding: 15px;
  font-size: 14px;
}

@media only screen and (min-width: 582px) and (max-width: 1000px) {
  .post {
    margin: 30px 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 610px) {
  .post {
    max-width: none;
    width: 100%;
    background-color: #fafafa;
    border: none;
    margin: 20px 0px 0px 0px;
  }
}
